@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  
  --font-primary: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}




@theme {

  --breakpoint-xs:25rem;
  --breakpoint-xxs:23rem;
  --font-sans: var(--font-primary), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
   

  --color-default-primary-light: #f3f4f6;
  --color-default-secondary-light: #99a1af;

  --color-primary: #0f172a; /* principal Color */
  --color-secondary: #1e293b;/* secondary Color */

  --color-tertiary: #334155;
  --color-quaternary: #ffffff;

  
  --color-primary-dark: color-mix(in srgb, var(--color-primary)70%, black);
  --color-primary-light: color-mix(in srgb, var(--color-primary)80%, white);
  
  --color-secondary-dark: color-mix(in srgb, var(--color-secondary)70%, black);
  --color-secondary-light: color-mix(in srgb, var(--color-secondary)80%, white);
 
  --color-tertiary-dark: color-mix(in srgb, var(--color-tertiary)70%, black);
  --color-tertiary-light: color-mix(in srgb, var(--color-tertiary)80%, white);

  --color-tertiary-dark: color-mix(in srgb, var(--color-tertiary)70%, black);
  --color-tertiary-light: color-mix(in srgb, var(--color-tertiary)80%, white);

  --color-quaternary-dark: color-mix(in srgb, var(--color-quaternary)70%, black);
  --color-quaternary-light: color-mix(in srgb, var(--color-quaternary)80%, white);
  
}




.text-size {
  font-size: var(--text-base);
  line-height: calc(var(--text-base) * 1.5);
}

.border-width-selected {
    border-width: var(--border-width);
  }

.border-t-width-selected {
    border-top-width: var(--border-width);
  }
.border-b-width-selected {
    border-bottom-width: var(--border-width);
  }

.border-l-width-selected {
    border-left-width: var(--border-width);
  }
.border-r-width-selected {
    border-right-width: var(--border-width);
  }

  .border-x-width-selected {
    border-left-width: var(--border-width);
    border-right-width: var(--border-width);
  }

  .border-y-width-selected {
    border-top-width: var(--border-width);
    border-bottom-width: var(--border-width);
  }

 
 .border-width-min-selected{
  border-width: calc(var(--border-width) - 1px);
 }

 .border-width-max-selected{
  border-width: calc(var(--border-width) + 1px);
 }

 .ring-width-selected{
 box-shadow: 0 0 0 calc(var(--border-width)-1px) var(--color-tertiary);
 }


.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.no-spinner {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}